[submodule "MODS/scripts"]
	path = MODS/scripts
	url = https://github.com/titan1994/__sub_module_scripts
[submodule "MODS/documents"]
	path = MODS/documents
	url = https://github.com/titan1994/__sub_module_documents
